<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true">Disabled</a>
        </li> -->
      </ul>
    </div>
  </div>
</nav>
<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-lg-10">
      <p class="text-break">
        Thank you for your self-motivated effort to submit an innovative idea/Problem for the purpose of introducing new or improving existing processes,
         system procedures and service delivery that may lead to increased revenue collection.
          Your idea will be subjected to an evaluation process and you will be notified accordingly
      </p>
      <p class="text-break mt-2">
        You are requested to fill out the form below providing detailed information concerning your idea for effective evaluation. 
      </p>
      <div class="mt-3 p-4 rounded shadow-sm border">
        <form class="row g-2">
          <div class="col-md-6">
            <label for="state" class="form-label">State if it is an innovation idea or problem</label>
            <select name="state" id="state" class="form-select">
              <option value="innovation">Innovation</option>
              <option value="problem">Problem</option>
            </select>
          </div>
          <div class="col-md-6">
            <label for="state" class="form-label">State if the innovation is individual or group</label>
            <select name="state" id="state" class="form-select">
              <option value="individual">Individual</option>
              <option value="problem">Group</option>
            </select>
          </div>
        </form>
        <app-problem-form *ngIf="displayProblemForm"></app-problem-form>
      </div>
    </div>
  </div>
</div>