<form class="row g-2 mt-2">
    <div class="col-md-6 col-lg-6 col-sm-12">
        <label for="fname" class="form-label">First name</label>
        <input type="text" id="fname" class="form-control" required placeholder="First name">
    </div>
    <div class="col-md-6 col-lg-6 col-sm-12">
        <label for="mname" class="form-label">Middle name</label>
        <input type="text" id="mname" class="form-control" required placeholder="Middle name">
    </div>
    <div class="col-md-6 col-lg-6 col-sm-12">
        <label for="lname" class="form-label">Surname</label>
        <input type="text" id="lname" class="form-control" required placeholder="Surname">
    </div>
    <div class="col-md-6 col-lg-6 col-sm-12">
        <label for="jobTitle" class="form-label">Job Title</label>
        <input type="text" id="jobTitle" class="form-control" required placeholder="Eg: ICT Officer II">
    </div>
    <div class="col-md-6 col-lg-6 col-sm-12">
        <label for="officeMail" class="form-label">E-mail</label>
        <input type="mail" id="officeMail" class="form-control" required placeholder="eg: your.email@tra.go.tz">
    </div>
    <div class="col-md-6 col-lg-6 col-sm-12">
        <label for="pno" class="form-label">Cellphone number</label>
        <input type="number" class="form-control" required placeholder="Eg: 0752xxxxxx">
    </div>
    <div class="col-md-6 col-lg-6 col-sm-12">
        <label for="tregion" class="form-label">Tax Region</label>
        <select name="taxRegion" id="tregion" class="form-select">
            <option value="">Choose Tax Region</option>
        </select>
    </div>
    <div class="col-md-6 col-lg-6 col-sm-12">
        <label for="tregion" class="form-label">Department</label>
        <select name="taxRegion" id="tregion" class="form-select">
            <option value="">Choose your department</option>
        </select>
    </div>
    <div class="col-md-6 col-lg-6 col-sm-12">
        <label for="tregion" class="form-label">Section</label>
        <select name="taxRegion" id="tregion" class="form-select">
            <option value="">Choose Section</option>
        </select>
    </div>
    <div class="col-md-6 col-lg-6 col-sm-12">
        <label for="tregion" class="form-label">Title of the problem</label>
        <input type="text" class="form-control" required placeholder="State the title of the problem">
    </div>
    <div class="col-md-12">
        <label for="problemExplanation" class="form-label">Explain the problem</label>
        <textarea name="" id="problemExplanation" class="form-control" rows="5" placeholder="Explain the problem" required></textarea>
    </div>
    <div class="col-md-12">
        <label for="problemExplanation" class="form-label">Possible cause</label>
        <textarea name="" id="problemExplanation" class="form-control" rows="5" placeholder="State it's possible cause" required></textarea>
    </div>
    <div class="col-md-12">
        <label for="problemExplanation" class="form-label">Possible solution</label>
        <textarea name="" id="problemExplanation" class="form-control" rows="5" placeholder="State the possible solution" required></textarea>
    </div>
    <div class="col-md-12">
        <button class="btn btn-primary px-5 py-2">Submit</button>
    </div>
</form>
